<div class="form">
    <div class="container">
        <div class="header">
            <div class="head-display">
                <h1>Login As {{ chosenType }}</h1>
            </div>
        </div>
        <form #credentials="ngForm">
            <div class="userWithIcon">
                <label style="color: rgba(177, 177, 177, 0.8);">.</label>
                <input autocomplete="off" placeholder="Enter your Username" type="text" id="name" name="name" class="form-control" required
                    [(ngModel)]="username" #name="ngModel">
                <i class="fa fa-user fa-lg" style="top: 51px;"></i>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors?.required" style="float: left;">
                        <p>Username is required.</p>
                    </div>
                </div>
            </div>
            <div class="passwordWithIcon">
                <label style="color: rgba(177, 177, 177, 0.8);">.</label>
                <input autocomplete="off" placeholder="Enter your Password" [type]="showPassword" id="password" name="Password"
                    class="form-control" required [(ngModel)]="password" #Password="ngModel">
                <i class="fa fa-key fa-lg" style="top: 51px;"></i>
                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert">
                    <div *ngIf="Password.errors?.required" style="float: left;">
                        <p>Password is required.</p>
                    </div>
                </div>
            </div><br>
            <input style="float: left; margin: 5px;" type="checkbox" (click)="passwordShow()"><label style="float: left;">Show password</label>
            <button (click)="onLogin(credentials)">Sign-In</button>
            <div style="text-align: center; font-family: Arial, Helvetica, sans-serif;">
                <a href="login">You forgot your password?</a>
            </div>
            <div>
                <a href="choose-user">Back to Choose</a>
            </div>
        </form>
    </div>
</div>
<div class="image">
    <div class="welcomeImage">
        <div class="text">
            <h2>Welcome to <a href="https://1028business.ph/" target="_blank">10.20 Business Consultancy</a></h2>
            <label class="welcome"></label>
            <img src="../../../assets/background.jpg" alt="">
        </div>
    </div>
</div>