<!-- <div id="holder" (window:resize)="getTheWidthResize($event)"> -->
    <div class="row">
        <form class="form" [formGroup]="newlyAddedMembers" (ngSubmit)="onSubmit()">
            <div class="singleColumn">
                <p>Name: </p>
                <input autocomplete="off" type="text" class="form-control" formControlName="name" required>
                <div *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required" class="alert">
                    <div class="colorTheValidation">
                        Full Name is required.
                    </div>
                </div>
            </div>


            <div class="singleColumn">
                <p>Email: </p>
                <input autocomplete="off" type="text" class="form-control" formControlName="email" required>
                <div *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required" class="alert">
                    <div class="colorTheValidation">
                        Email is required.
                    </div>
                </div>
            </div>


            <div class="singleColumn">
                <p>Phone #: </p>
                <input autocomplete="off" type="text" class="form-control" formControlName="phone" required>
                <div *ngIf="(registerFormControl.phone.touched || submitted) && registerFormControl.phone.errors?.required" class="alert">
                    <div class="colorTheValidation">
                        Phone is required.
                    </div>
                </div>
            </div>


            <div class="singleColumn">
                <p>Username: </p>
                <input autocomplete="off" type="text" class="form-control" formControlName="username" required>
                <div *ngIf="(registerFormControl.username.touched || submitted) && registerFormControl.username.errors?.required" class="alert">
                    <div class="colorTheValidation">
                        Username is required.
                    </div>
                </div>
            </div>


            <div class="column">
                <p>Address(Street.)</p>
                <input autocomplete="off" type="text" class="form-control" formControlName="street" required>
                <div *ngIf="(registerFormControl.street.touched || submitted) && registerFormControl.street.errors?.required" class="alert">
                    <div class="colorTheValidation">
                        Address(Street) is required.
                    </div>
                </div>
            </div>


            <div class="column">
                <p>Address(City)</p>
                <input autocomplete="off" type="text" class="form-control" formControlName="city" required>
                <div *ngIf="(registerFormControl.city.touched || submitted) && registerFormControl.city.errors?.required" class="alert">
                    <div class="colorTheValidation">
                        Address(City) is required.
                    </div>
                </div>
            </div><br>


            <div class="singleColumn"><br><br>
                <button class="w3-button w3-light-blue" [disabled]="!isFormValid">Submit</button>
            </div>
        </form>
    </div>
<!-- </div> -->